/*
** Custom Bootstrap
*/
@import "./bootstrap";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

/*
** CUSTOM STYLES -- Customize it!
*/

#header {
    transition: all 500ms ease-in-out ;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2) 95%, rgba(255, 255, 255, 0.1), );
    .alias { font-family: $font-display; font-size: 1.6rem; font-weight: 300; color: $black; }
    .link.link-info { color: shade-color($info, 20%) !important; }
    .link.link-success { color: shade-color($success, 40%) !important; }
    .link.link-social {
        transition: all 200ms ease-in-out ;
    }
    .branding {
        margin: 1rem;
        margin-left: 0;
        font-size: 1rem;
        background-image: url('/logo-black.svg'); width: 77px; height: 88px; background-size: cover;
        transition: all 300ms ease-in-out;
        min-width: 77px;
        .link {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $black;
        }
        &:hover a.link { color: $primary; }
        .display { font-size: 1.15rem; }
        .title { padding: 0 0.05em; font-size: 0.8rem; text-shadow: 0em 0em 0.3em -0.15em $white; }
    }
    .branding-alt {
        display: block;
        margin: 0 0.75rem;
        background-image: url('/logo-white.svg'); 
        width: 124px; height: 100px; background-size: cover;
        line-height: 0;
        color: $light;
        &:hover { 
            color: $custom;
        }
    }
    .navbar-toggler {
        padding: 0;
        &:focus { box-shadow: none; }
        .nav-link { 
            font-size: 2em;  
            color: $black; 
            &:hover, &.active {
                color: $primary;
            }
        }
    }
    .link.link-social {
        background-color: rgba($white, 0.85);
        &:hover, &.active {
            background-color: $white;
        }
    }
    .offcanvas-header { 
        padding-bottom: 0;
    }
    .offcanvas {
        .nav-item .nav-link {
            font-size: 1.05rem;
            font-family: $font-display;
            text-transform: uppercase;
            line-height: 1.45rem;
            color: $black;
            &.active {
                color: shade-color($primary, 20%);
            }
            &:hover {
                color: $primary;
            }
            transition: all 300ms ease-in-out;
        }
        &.show {
            .nav-item .nav-link {
                color: $white;
            }
        }
        .dropdown-menu {
            margin-top: -3px;
            background-color: shade-color($white, 7%);
            .nav-link {
                font-size: 1rem;
                font-family: $font-text;
                font-weight: normal;
                text-transform: none;
                line-height: 1.2rem;
                padding-left: 1em;
                color: $black;
                &.active {
                    color: shade-color($primary, 50%);
                    background-color: $white;
                }
                &:hover {
                    color: tint-color($primary, 50%);
                    background-color: $white;
                }
            }
        }
    }
    &.active {
        transition: all 500ms ease-in-out;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
        .alias { font-size: 1.2rem; color: $white; }
        .link { color: $white; }
        .link.link-info { color: $info !important; }
        .link.link-success { color: $success !important; }
        .link.link-social {
            background-color: $transparent;
            &:hover {  background-color: $dark; }
        }
        .branding {
            padding-bottom: 13px;
            background-image: url('/logo-white.svg'); 
            width: 46px; height: 50px; 
            background-size: cover;
            line-height: 0;
            color: $light;
            &:hover {
                color: $custom;
            }
            .display { font-size: 0.5rem; }
            .lead { display: none; }
            .title {
                font-size: 0.45rem;
                padding: 0 0.2em;
                text-shadow: 0em 0em 0.3em -0.15em $black;
            }
        }
        @include media-breakpoint-down(lg) {
            .branding {
                margin: 0.4rem -1.2rem;
                width: 36px; height: 38px; 
                box-sizing: content-box;
            }
        }
        .navbar-toggler {
            .nav-link {
                color: $white;
                &:hover, &.active {
                    color: $custom;
                }
            }
        }
        .offcanvas {
            .nav-item .nav-link {
                color: $white;
                &.active {
                    color: tint-color($primary, 50%);
                }
                &:hover {
                    color: $custom;
                }
                transition: all 300ms ease-in-out;
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .offcanvas {
            background-color: tint-color($black, 10%);
            .navbar-nav {
                .nav-item {
                    border-bottom: 1px solid tint-color($black, 25%);
                    .nav-link {
                        font-size: 1.05rem;
                        font-weight: normal;
                        padding: 0.75em 1em;
                        &.active { color: $secondary; }
                        &:hover  { color: $custom; }
                    }
                }
                .dropdown-menu {
                    box-shadow: none;
                    .nav-link {
                        font-size: 1rem;
                        padding-left: 1em;
                        color: shade-color($white, 20%);
                        background-color: tint-color($black, 10%);
                        &.active { color: tint-color($secondary, 30%); }
                        &:hover  { color: tint-color($custom, 30%); }
                    }
                }
                .dropdown-menu .nav-item:not(:last-child) .nav-link {
                    border-bottom: 1px solid shade-color($black, 10%);
                }
            }
            .link.link-social {
                background-color: transparent;
                &:hover, &.active {
                    background-color: black;
                }
            }
        }
    }
}

#main {
    &.main {
        padding-top: 122px; /* default layer */
    }
    .main {
        padding-top: 88px; /* custom layer */
        outline: 2px solid cyan;
    }
}

#footer {
    color: $light;
    background: tint-color($black, 10%);
    #goto {
        .link {
            color: $white;
            background-color: $black;
            &:hover {
                color: $custom;
            }
        }
        transition: all 500ms ease-in-out ;
        opacity: 0;
        &.active { opacity: 1; }
    }
    .link, 
    .btn-link {
        color: shade-color($white, 30%);
        &.active {
            color: $white;
        }
        &:hover:not(.active) {
            color: $custom;
        }
    }
}
.icon-link-hover-alt:hover>.bi, .icon-link-hover-alt:focus-visible>.bi {
    transform: var(--bs-icon-link-transform, translate3d(-0.15em, 0, 0));
}
.icon-link-hover-up:hover>.bi, .icon-link-hover-up:focus-visible>.bi {
    transform: var(--bs-icon-link-transform, translate3d(0, -0.15em, 0));
}
.icon-link-hover-down:hover>.bi, .icon-link-hover-down:focus-visible>.bi {
    transform: var(--bs-icon-link-transform, translate3d(0, 0.15em, 0));
}

#history {
    .list-group {}
    .list-group-item.actived {
        background-color: var(--bs-white) !important;
        border: 1px solid var(--bs-primary) !important;
    }
    .list-group-item {
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(var(--bs-black-rgb), 0.10);
        background-color: rgba(var(--bs-body-bg-rgb), 0.93);
        .list-group-item-action {
            width: auto;
            color: var(--bs-black);
            &:hover, &.active {
                color: var(--bs-primary);
            }
        }
    }
}
#content {
    .article {
        background-color: rgba(var(--bs-body-bg-rgb), 0.95);
        border: 1px solid var(--bs-white) !important;
    }
    .article.actived {
        background-color: var(--bs-white) !important;
        border: 1px solid var(--bs-primary) !important;
    }
}

/*
** GENERICS
*/

.beta { outline: 2px dotted shade-color($secondary, 15%); background-color: tint-color($primary, 85%); }

/* BLOCKS */
blockquote, .blockquote {
    font-size: 1em;
    line-height: 1.45em;
    font-family: $font-text;
    position: relative;
    padding: 0.7em 1em 0.7em 1em;
    color: $black;
    border: 1px solid $white;
    background-color: tint-color($light, 20%);
    box-shadow: 0 0 13px -5px rgba(0, 0, 0, 0.5);
    border-radius: 0.33em;
    box-shadow: none;
    &:before {
        font-family: $font-display;
        color: shade-color($light, 20%);
        position: absolute;
        height: 100%;
        font-size: 3em;
        line-height: 0;
        top: 0.3em;
        left: -0.15em;
        content: "\201C";
    }
    &:after {
        font-family: $font-display;
        color: shade-color($light, 20%);
        position: absolute;
        height: 100%;
        font-size: 3em;
        float: right;
        line-height: 0;
        right: -0.15em;
        top: calc(100% + 0.15em);
        content: "\201D";
    }
    >cite:before {
        content: "\2013";
    }
}
.blockquote {
    color: $black;
    border: 1px solid rgba($primary, 0.44);
    &:before, &:after { color: rgba($primary, 0.88); }
}

/* LISTS */

ul.list-alt, ol.list-alt {
    list-style: none outside;
    li {
        position: relative;
        line-height: 1.5em;
        &:before /* @customize-it */
        {
            position: absolute; top: 0; left: -1.5em;
            font-family: $font-icon; font-size: 1em;
            content: "\f26b";
        }
        &:not(:last-child) {
            padding-bottom: 0;
        }
    }
}
ul.list-chevron, ol.list-chevron {
    list-style: none outside;
    padding-left: 1rem;
    margin-bottom: 0px;
    > li {
        position: relative;
        line-height: 1.5em;
        margin-bottom: .5em;
        &:before /* @customize-it */
        {
            position: absolute; top: -2px; left: -1.2em;
            font-family: $font-icon; font-size: 1em;
            content: "\F285";
        }
        &:not(:last-child) {
            padding-bottom: 0;
        }
    }
}

/* CARDS */
.card.card-body {
    transition: all 0.3s ease-in-out;
    .card-title {
        margin-top: 0.85rem;
        h3 {
            font-family: $font-display;
            font-weight: normal;
            margin-bottom: 0.5rem;
        }
    }
    .card-image {
        overflow: hidden;
        img {
            transition: all 0.2s ease-in-out;
            transform: scale(1);
        }
        position: relative;
        &::after {
            content: ''; display:block;
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            box-shadow: inset 0px 0px 30px rgba($black, 0.3);
            outline: 1px solid $white;
        }
    }
    &:hover {
        .card-image > img {
            transform: scale(1.2);
        }
        .card-image::after {
            box-shadow: inset 0px 0px 30px rgba($primary, 0.7);
            outline: 1px solid $primary;
        }
    }
}

@include color-mode(dark) {
    #header {
        background-color: $black;
        .offcanvas .nav-item .nav-link {
            color: $light;
        }
        a.link, .alias {
            color: $white;
        }
    }
    .card.card-body {
        color: $light !important;
        background-color: $dark !important;
    }
    .card.card-body.bg-white {
        background-color: $black !important;
    }
    #history .list-group-item.actived {
        background-color: $black !important;
    }
    #content .article.actived {
        background-color: $black !important;
    }
    blockquote, .blockquote {
        color: $light;
        background-color: $dark;
        &::after, &::before {
            color: $white;
        }
    }
    .link-black {
        color: $light !important;
        &:hover {
            color: $white !important;
        }
    }
    .text-black { color: $white !important; }
    .text-dark { color: $light !important; }
    .text-light { color: $dark !important; }
    .text-white { color: $black !important; }
    .bg-black { background-color: $white !important; }
    .bg-dark { background-color: $light !important; }
    .bg-light { background-color: $dark !important; }
    .bg-white { background-color: $black !important;}
    .list-group-item-action {
        color: $light !important;
        &:hover, &.active {
            color: $primary !important;
            background-color: transparent !important;
        }
    }
    .badge.bg-secondary {
        color: $black; background-color: $custom !important;
    }
}
/*
.position-relative .stretched-layer { transition: all 0.5s ease-in-out; transform: translateY(0); }
.position-relative:hover .stretched-hover { transition: all 0.2s ease-in-out; color: $primary; }
.position-relative:hover .stretched-layer { transition: all 0.2s ease-in-out; transform: translateY(-0.3em); }
*/
