---
import Main from '@layouts/Main.astro'
---
<Main title="Página no encontrada">
    <div class="d-flex align-items-center justify-content-center">
        <h1 class="d-inline-block py-5">Página no encontrada. 404</h1>
    </div>
    <p class="lead text-center fw-bold">¡Circulen!</p>
</Main>