---
import Main from "@layouts/Main.astro";
import Cover from "@components/Cover.astro";
import Brands from "@components/Brands.astro";

export const name = "Experiencia";
export const term = "Trayectoria profesional";
export const desc = "Trayectoria profesional de 15 años de experiencia como Desarrollador Web FullStack en proyectos web";
export const menu = 1;
export const snap = '/misc/ben-griffiths-4wxWBy8Jo1I.jpg';
---
<Main class="main bg-primary bg-gradient bg-opacity-15" title={name+': '+term} description={desc}>
<Cover src="/background.svg">
	<div class="container p-3">
		<div class="row">
			<div class="col-12 col-lg-4 order-lg-last">
				<div class="position-lg-sticky" style="top: 25px; z-index: 1020;">
					<div class="text-center">
						<h1 class="h2 mt-2 mb-3">
							{name}
						</h1>
					</div>
					<ul id="history" class="list-group">
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#masweb" title="Director Técnico de MasWeb.ES - Tecnología en la Nube">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Desarrollador Web FullStack</strong>
									<br/>
									<small class="text-dark">15 años de proyectos web</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2009 · 2024</span><br/>
									<span class="badge bg-white text-primary w-100">MASWEB</span>
							</div>
						</li>
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#profesor" title="Profesor en Curso de Desarrollo Web para la academia IFES">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Profesor de Diseño Web</strong>
									<br/>
									<small class="text-dark">Curso de Diseño Web</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2013</span><br/>
									<span class="badge bg-white text-primary w-100">IFES-SEPE</span>
							</div>
						</li>
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#freelance" title="Desarrollador Web Freelance en OpenYourWeb del Grupo Almia">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Desarrollador Web Freelance</strong>
									<br/>
									<small class="text-dark">Desarrollador Web</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2007 · 2009</span><br/>
									<span class="badge bg-white text-primary w-100">ALMIA</span>
							</div>
						</li>
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#nebrija" title="Ingeniero Técnico de Informática de Gestión en la Nebrija">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Ingeniero Técnico de Gestión</strong>
									<br/>
									<small>Analista-Programdor</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2005 · 2007</span><br/>
									<span class="badge bg-white text-primary w-100">NEBRIJA</span>
							</div>
						</li>
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#transcose" title="Técnico Superior de Informática en Suministros Transcose">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Técnico Superior Informática</strong>
									<br/>
									<small>Digitalización & Portal Web</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2003 · 2005</span><br/>
									<span class="badge bg-white text-primary me-2 w-100">TRANSCOSE</span>
							</div>
						</li>
						<li class="list-group-item d-flex flex-row justify-content-between align-items-start">
							<a class="list-group-item-action align-self-center pe-2" href="#dipsegovia" title="Analista y programador de bases de datos en la Diputación de Segovia">
								<span class="bi bi-arrow-down-circle-fill d-inline d-lg-none fs-3"></span>
								<span class="bi bi-arrow-left-circle-fill d-none d-lg-inline fs-3"></span>
							</a>
							<div class="title w-100">
									<strong class="text-black">Analista & Programador</strong>
									<br/>
									<small>Optimización de Apps</small>
							</div>
							<div class="display">
									<span class="badge bg-black text-white me-1 w-100">2003</span><br/>
									<span class="badge bg-white text-primary w-100">DIP-SEGOVIA</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-lg-8 order-lg-first">
				<section id="content" class="py-2" data-bs-spy="scroll" data-bs-target="#history" data-bs-smooth-scroll="true" tabindex="0">
					<article id="masweb" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Desarrollador Web
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">MASWEB</span> <span class="badge bg-light text-dark">15 años</span>
							</div>
							<a title="MasWeb - Tecnología en la Nube" class="link link-secondary" href="https://www.masweb.es/" target="_blank">
								www.masweb.es
							</a>
						</div>
						<p class="lead">
							He sido socio y autónomo de la empresa durante 15 años, como <strong>desarrollador web</strong>,  
							he tenido que trabajar todo <strong>ciclo de vida</strong> de muchos proyectos, 
							desde su planteamiento y presupuesto hasta su diseño, desarrollo y puesta en marcha.
						</p>
						<p class="">
							Me he especializado en el desarrollo de aplicaciones web innovadoras y completamente a medida, generalmente con diseño web responsive en <strong>Bootstrap</strong> y posicionamiento optimizado para Google,
							además he desarrollado soluciones integrales con <strong>PHP</strong>, <strong>MySQL</strong>, <strong>JavaScript</strong> y <strong>JSON-NoSQL</strong> e integraciones para otras plataformas digitales como <strong>Wordpress/Woocommerce</strong> y <strong>Prestashop</strong>.
							También hemos trabajado bastante con herramientas de Google (Console, Looker, ADS, Workspace, etc) y APIS de servicios en la nube (alojamiento, correo, gráficas, datos, etc).
						</p>
						<p class="blockquote bg-white">
							Experto en aplicaciones web complejas, en MasWeb creamos un <strong>framework de páginas web</strong> propio para mejorar la competitividad de la empresa para generar proyectos web ágiles y escalables de calidad.
						</p>
					</article>
					<article id="profesor" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Profesor de Diseño Web
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">IFES</span> <span class="badge bg-light text-dark">5 meses</span>
							</div>
							<a title="Instituto de Formación y Estudios Sociales" class="link link-secondary" href="https://sede.sepe.gob.es/especialidadesformativas/RXBuscadorEFRED/DetalleEspecialidad.do?codEspecialidad=IFCD0110" target="_blank">
								sede.sepe.gob.es
							</a>
						</div>
						<p class="lead">
							Confección y Publicación de Páginas Web
						</p>
						<p>
							Fuí profesor del curso de certificación profesional del <strong>SEPE</strong> - IFCD0110 - <strong>Confección y Publicación de Páginas Web</strong> para el <strong>Instituto de Formación y Estudios Sociales</strong> de Segovia, 
							Impartí clases a 15 alumnos de diseño y programación de 570 horas lectivas y tutorizé 120 horas de prácticas en mi propia empresa.
						</p>
					</article>
					<article id="freelance" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Desarrollador Web Freelance
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">OpenYourWeb - Grupo Almia</span> <span class="badge bg-light text-dark">2 años</span>
							</div>
							<a title="OpenYourWeb - Grupo Almia" class="link link-secondary" href="https://web.archive.org/web/20100724144621/http://www.openyourweb.com/" target="_blank">
								www.openyourweb.com
							</a>
						</div>
						<p class="lead">
							Aplicación Web para Diputaciones Provinciales
						</p>
						<p>
							Trabajé durante 2 años como <strong>freelance</strong> en OpenYourWeb, 
							lideré el desarrollo e implantación de una aplicación a media muy innovadora y específica para gestionar contenidos y datos de las Diputaciones Provinciales de Segovia y Teruel. 
							Además, intervine en la digitalización de contenidos y boletines electrónicos (bop) con diferentes integraciones y funciones de búsqueda online.
						</p>
					</article>
					<article id="nebrija" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Ingeniero Técnico de Gestión
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">Nebrija Universidad</span> <span class="badge bg-light text-dark">2 años</span>
							</div>
							<a title="Universidad Antonio de Nebrija" class="link link-secondary" href="https://www.nebrija.com/" target="_blank">
								www.nebrija.com
							</a>
						</div>
						<p class="lead">
							Departamento de Desarrollo de Aplicaciones Web
						</p>
						<p>
							Formé parte durante 2 años del Dpto. de Desarrollo en el campus de La Berzosa, 
							mi dedicación principal era el desarrollo y mantenimiento de aplicaciones web implantadas en la intranet de la universidad (software de gestión y automatrícula).
							También realicé tareas de soporte técnico (actualizaciones e incidencias) y cursos de formación a usuarios de otros departamentos.
						</p>
						<p class="blockquote bg-white">
							Conservo evaluación de desempeño y carta de recomendación de mis superiores.
						</p>
					</article>
					<article id="transcose" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Técnico Superior de Informática
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">Suministros Transcose SL</span> <span class="badge bg-light text-dark">2 años</span>
							</div>
							<a title="Suministros Transcose - Grupo ADPARTS" class="link link-secondary" href="https://www.transcose.com/" target="_blank">
								www.transcose.com
							</a>
						</div>
						<p class="lead">
							Departamento de Informática de AD-PARTS
						</p>
						<p>
							Trabajé durante 2 años a media jornada, realizando tareas diversas para digitalizar áreas de negocio de la empresa: imagen digital, página web, catálogos comerciales y software de AD-PARTS.
						</p>
					</article>
					<article id="dipsegovia" class="article shadow rounded p-3 mb-3">
						<div class="d-flex justify-content-between mb-2">
							<h1 class="h2 text-black">
								Analista & Programador
							</h1>
							<a class="d-none d-md-block link" href="#content"><span class="bi bi-arrow-up-circle fs-3"></span></a>
							<a class="link d-block d-md-none link" href="#history" title="navegar al índice"><span class="bi bi-arrow-up-circle fs-3"></span></a>
						</div>
						<div class="d-flex align-items-baseline justify-content-between mt-n1 mb-2">
							<div>
								<span class="display text-primary">Diputación Provincial de Segovia</span> <span class="badge bg-light text-dark">3 meses</span>
							</div>
							<a title="Diputación Provincial de Segovia" class="link link-secondary" href="https://www.dipsegovia.es/" target="_blank">
								www.dipsegovia.es
							</a>
						</div>
						<p class="lead">
								Prácticas Formación Profesional
						</p>
						<p>
							Trabajé en el <strong>Departamento de Sistemas</strong> como <strong>analista</strong> y <strong>programador</strong> de bases de datos en SQL Server y realicé desarrollos en Visual Basic en aplicaciones internas de gestión de personal.
						</p>
					</article>
				</section>
			</div>
		</div>
	</div>
	<div id="tecnologia" class="bg-dark bg-opacity-85">
		<Brands path="/web/" format="png" gap="30" width="150" height="150" style="border border-light rounded-circle bg-white bg-opacity-85" />
	</div>
</Cover>
</Main>
<script>
	/**
	 * Sincroniza menú con contenidos y viceversa
	 */
	function scrollSpyHandler(event)
	{
			const id = event.relatedTarget.href.split('#').pop();

			document.querySelectorAll('#history .list-group-item.actived').forEach(content => {
				content.classList.remove('actived');
			});
			const lnk = document.querySelector('#history a[href="#'+id+'"]');
			lnk.parentElement.classList.add('actived');

			const contents = document.querySelectorAll('#content article');
			contents.forEach(content => {
				content.classList.remove('actived');
			});

			document.getElementById(id).classList.add('actived');
	}
	
	import bootstrap from '@node/bootstrap/dist/js/bootstrap'; /* build */

	document.addEventListener('DOMContentLoaded', (event) => {
		var rel = document.getElementById('content');
		if (rel)
		{
			var spy = new bootstrap.ScrollSpy(rel, { target: '#history' });

			document.getElementById('content').addEventListener('activate.bs.scrollspy', scrollSpyHandler);
		}
	});
	document.addEventListener("astro:page-load", (event) => {
		var rel = document.getElementById('content');
		if (rel)
		{
			var spy = new bootstrap.ScrollSpy(rel, { target: '#history' });

			document.getElementById('content').addEventListener('activate.bs.scrollspy', scrollSpyHandler);
		}
	});
</script>