---
import Image from '@components/Image.astro';
import { slugify } from '@components/Tag.astro';

const { src, attach = 'fixed', size = 'cover', repeat = 'no-repeat', position = 'center', class: className ='', view = false } = Astro.props;

const uid = 'cover-' + Math.random().toString(16).slice(-5);

let preview = view;
if (view === true || view === 'true') preview = slugify(src);
if (view === false || view === 'false') preview = '';
---
<div class={className} transition:name={preview}>
	<slot/>
	<Image class="cover-image" src={src} style="display: none;"/>
	<script define:vars={{ uid, size, attach, repeat, position }}>
		const coverLoader = function() {
			Array.from(document.getElementsByClassName('cover-image')).forEach( image => {
				image.parentNode.style.backgroundAttachment = attach; // scroll
				image.parentNode.style.backgroundSize = size; // 100%
				image.parentNode.style.backgroundRepeat = repeat; // repeat-y
				image.parentNode.style.backgroundPosition = position; // top right
				image.parentNode.style.backgroundImage = 'url('+image.getAttribute('src')+')';
			});
		}
		document.addEventListener("astro:page-load", coverLoader());
		document.addEventListener('DOMContentLoaded', coverLoader());
	</script>
</div>