---
import type { Page } from '@node/astro';
let { page } = Astro.props as { page: Page };
---
{page.lastPage > 1 &&
<nav aria-label="Paginación" class="py-3">
    <ul class="pagination justify-content-center">
      {page.currentPage > 1 && (
        <li class="page-item">
          <a class="page-link" href={page.url.prev} aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      )}

        <li class="page-item">
            <div class="page-link not-hover" >
                {page.currentPage} de {page.lastPage}
            </div>
        </li>

      {page.currentPage < page.lastPage && (
        <li class="page-item">
          <a class="page-link" href={page.url.next} aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      )}
    </ul>
  </nav>
  }

  <style>
    .not-hover {
        --bs-pagination-hover-color: var(--bs-pagination-color); 
        --bs-pagination-hover-bg:var(--bs-pagination-bg) ;
    }
  </style>